global
    log         127.0.0.1 local2
    chroot      /var/lib/haproxy
    pidfile     /var/run/haproxy.pid
    maxconn     4000
    user        haproxy
    group       haproxy
    daemon
    stats socket /var/lib/haproxy/stats
    ssl-default-bind-ciphers PROFILE=SYSTEM
    ssl-default-server-ciphers PROFILE=SYSTEM

defaults
    mode                    tcp
    log                     global
    option                  tcplog
    option                  dontlognull
    option http-server-close
    option                  redispatch
    retries                 3
    timeout http-request    10s
    timeout queue           1m
    timeout connect         10s
    timeout client          1m
    timeout server          1m
    timeout http-keep-alive 10s
    timeout check           10s
    maxconn                 3000

frontend api
  bind *:6443
  default_backend api
backend api
  balance roundrobin
  server bootstrap BOOTSTRAP_IP:6443 check 
  server master01 MASTER01_IP:6443 check
  server master02 MASTER02_IP:6443 check
  server master03 MASTER03_IP:6443 check

frontend mcs
  bind *:22623
  default_backend mcs
backend mcs
  balance roundrobin
  server bootstrap BOOTSTRAP_IP:22623 check 
  server master01 MASTER01_IP:22623 check
  server master02 MASTER02_IP:22623 check
  server master03 MASTER03_IP:22623 check

frontend pt
  bind *:80
  default_backend in_pt
  mode http
  option httplog
  option forwardfor  except 127.0.0.1/8
backend in_pt
  mode http
  balance roundrobin
  server worker01 WORKER01_IP:80 check
  server worker02 WORKER02_IP:80 check
  server worker03 WORKER03_IP:80 check

frontend ss
  bind *:443
  default_backend in_ss
backend in_ss
  balance roundrobin
  balance source
  server worker01 WORKER01_IP:443 check
  server worker02 WORKER02_IP:443 check
  server worker03 WORKER03_IP:443 check

